/* Grid */
:root {
  --clr-primary-400: hsl(0, 0%, 0%);
  --clr-neutral-100: hsl(0, 0%, 49%);

  --ff-primary: "Inter", sans-serif;

  --ff-body: var(--clr-neutral-100);
  --ff-heading: var(--clr-primary-400);

  --fw-light: 300;
  --fw-regular: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-300: 0.625rem;
  --fs-400: 0.75rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;

  --nav-height: 2rem;
}

.clr-primary {
  color: var(--clr-primary-400);
}

.clr-neutral {
  color: var(--clr-neutral-100);
}

.ff-body {
  color: var(--clr-neutral-100);
}

.ff-heading {
  color: var(--clr-primary-400);
}

.ff-primary {
  font-family: var(--ff-primary);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semibold {
  font-weight: var(--fw-semibold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
}

/* GRID SECTION */

.grid__section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
  height: auto;
  justify-content: center;
  padding: 0 1rem;
}

.grid__container {
  width: 100%;
  column-count: 2;
  column-gap: 1rem;
}

.grid__container figure {
  break-inside: avoid;
  margin-bottom: 1rem;
}

.grid__container img {
  width: 100%;
  height: auto;
  display: block;
}
figure {
  position: relative; /* for positioning figcaption */
}
figure figcaption {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: auto;
  background-color: rgba(4, 4, 4, 0.235);
  color: #8e8e8e;
  text-align: center;
  padding: 0.5rem 0;
  font-size: var(--fs-500);
  transition: opacity 0.3s ease;
  text-align: left;
  padding: 5px 10px;
  margin: 10px;
  font-size: var(--fs-500);
  border-radius: 5px;
  backdrop-filter: blur(1px);
}

@media screen and (max-width: 1200px) {
  .grid__container {
    width: 100%;
    column-count: 1;
    column-gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .grid__container {
    column-count: 1;
    column-gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .grid__section {
    padding: 0;
  }

  .grid__container {
    column-count: 1;
    column-gap: 1rem;
  }

  figure figcaption {
    font-size: var(--fs-400);
    border-radius: 0;
    padding: 3px 7px;
  }
}
